
#container {
    width: 100%;
    height: 100%;
}

.app-title {
    -unity-font-style: bold;
    margin: var(--appui-spacing-400);
}

.section {
    margin: var(--appui-spacing-200);
}

.prompt-input {
    flex-direction: row;
}

.prompt-input__text-field {
    flex-grow: 1;
}