/* Basic Settings */


* {
    -unity-font-definition: url("/Assets/Resources/Fonts & Materials/Nunito-Medium SDF.asset");
}

/* Animations */

.touch_keyboard_translator {
    transition-property: translate;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
